[package]
name = "mozi"
version = "0.1.0"
edition = "2024"

[dependencies]
volatile = "0.4.5"
bitflags = "2.0"
spin = "0.9.8"
lazy_static = { version = "1.4.0", features = ["spin_no_std"] }

[profile.dev]
panic = "abort"
opt-level = "s"
debug = true
lto = true
codegen-units = 1